<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Platform</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div id="app">

        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <span class="icon">
                        <i class="fab fa-youtube"></i>
                    </span>
                </a>
            
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu" v-on:click="openCloseMenu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            
            <div id="navbarMenu" class="navbar-menu" v-bind:class="{'is-active': burgerMenuOpen}">
                <div class="navbar-start">
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                          Categories
                        </a>
                
                        <div class="navbar-dropdown">
                          <a class="navbar-item" @click="chooseCategory(category.id)" v-for="category in categories">
                            {{ category.snippet.title }}
                          </a>
                        </div>
                    </div>
                </div>
                
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="field has-addons">
                            <p class="control">
                              <input class="input" type="text" placeholder="Find a post" v-model="searchQuery" required>
                            </p>
                            <p class="control">
                              <button class="button" @click="search" >
                                Search
                              </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        
        <section class="section">
            <div class="notification is-danger" :class="{'is-hidden': !showNotification}" v-cloak>
                <button class="delete" @click="hideNotification"></button>
                {{error}}
            </div>
            <div class="container" v-if="!error && videoList.length > 0">
                <section class="section">
                    <div class="container">
                        <h1 class="title" v-cloak>{{ currentPage.title }}</h1>
                        <div class="columns is-multiline">
                            <video-card v-for="item in videoList" v-bind:video="item" v-bind:key="item.id.videoId"></video-card>
                        </div>
                    </div>
                </section>
                <section class="section">
                    <div class="container">
                        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                            <a class="pagination-previous" :disabled="pagination.prevPage ? null : true" @click="prevPage()">Previous</a>
                            <ul class="pagination-list">
                                <li>
                                    <a class="pagination-link is-current" :aria-label="'Page ' + pagination.page" aria-current="page">{{ pagination.page }}</a>
                                </li>
                            </ul>
                            <a class="pagination-next" :disabled="pagination.nextPage ? null : true" @click="nextPage()">Next page</a>
                        </nav>
                    </div>
                </section>
            </div>
            
        </section>

        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                  <strong>Video Platform v.0.1</strong>
                </p>
            </div>
        </footer>
    </div>
    <script src="https://kit.fontawesome.com/758fa6fb41.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3.2.6"></script>
    <script src="/js/services/api.js"></script>
    <script src="/js/components/video-card.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>